In [63]:
import pandas as pd

In [64]:
df = pd.read_excel(r"C:\Users\Sujal Karmakar\Desktop\Desktop\Data Analyst\Python\python_data_analytics_project\lean_beast_india_custom_analysis\scraped_data_lean_beast_india.xlsx")

df.sample(5)

,Username,post_type,content_id,posted_time_details,day_of_week,hour_of_day,time_am_pm,video_duration,aspect_ratio,caption_text,...,hashtags_used,hashtag_count,all_mentions,mentions_count,audio_used,location,paid_partnership,likes_count,comments_count,post_context
1306,iamleanbeast_india,Reel,Crr_C0qppqy,2023-05-01T04:37:38.000Z,Monday,10,10:07 AM,01:28,9:16,Makhan bodybuilding benefits #abs #fitness #...,...,"['#abs', '#fitness', '#gym', '#workout', '#bod...",60,[],0,original,NaN,NaN,5392.0,5.0,NaN
1565,iamleanbeast_india,Post,CfBOZZ4JHPx,2022-06-20T07:43:44.000Z,Monday,13,01:13 PM,NaN,1:1,Insane @sashank_goenka 125kgs to 70kgs ü´° **DM...,...,"['#weightloss', '#weightlossjourney', '#transf...",29,['@sashank_goenka'],1,NaN,NaN,NaN,869.0,12.0,"Delhi, India"
649,iamleanbeast_india,Reel,C8JGAUdS8-m,2024-06-13T04:15:44.000Z,Thursday,9,09:45 AM,00:48,9:16,MY LUNCH :-Black coffee with whey protein‚Ä¶,...,[],0,[],0,original,NaN,NaN,2243.0,131.0,NaN
797,iamleanbeast_india,Reel,C5WDH-ty4-p,2024-04-04T15:25:50.000Z,Thursday,20,08:55 PM,00:21,9:16,Sugar ke kitne saare rup ü§ìü§ì,...,[],0,[],0,original,NaN,NaN,1522.0,134.0,NaN
731,iamleanbeast_india,Reel,C6d1-QwSM9a,2024-05-02T12:36:40.000Z,Thursday,18,06:06 PM,00:41,9:16,24 hours fasting done ‚Ä¶,...,[],0,[],0,original,NaN,NaN,3862.0,98.0,NaN

In [65]:
df.columns = df.columns.str.strip()

In [66]:
df["posted_time_details"].head(2)

0    2025-05-19T03:10:04.000Z
1    2025-02-11T05:06:23.000Z
Name: posted_time_details, dtype: object

In [67]:
df["formatted_posted_time_details"] = pd.to_datetime(df["posted_time_details"], utc=True, errors="coerce")
df["formatted_posted_time_details"] = df["formatted_posted_time_details"].dt.tz_convert("Asia/Kolkata")

df.drop(columns=["posted_time_details"], inplace=True)

In [68]:
df["posted_date"] = df["formatted_posted_time_details"].dt.date

In [69]:
df.head(5)

,Username,post_type,content_id,day_of_week,hour_of_day,time_am_pm,video_duration,aspect_ratio,caption_text,caption_length,...,all_mentions,mentions_count,audio_used,location,paid_partnership,likes_count,comments_count,post_context,formatted_posted_time_details,posted_date
0,iamleanbeast_india,Post,DJ0c4FlylXc,Monday,8,08:40 AM,NaN,1:1,Well done @jai.bajaj0786 lost 39kgs without co...,112,...,['@jai'],1,NaN,NaN,NaN,443.0,17.0,NaN,2025-05-19 08:40:04+05:30,2025-05-19
1,iamleanbeast_india,Post,DF65FG3yT-Z,Tuesday,10,10:36 AM,NaN,1:1,‚ö†Ô∏è‚ö†Ô∏è‚ÄºÔ∏èTRANSFORMATION ALERT ‚ö†Ô∏è‚ö†Ô∏è‚ÄºÔ∏è If he keen ...,158,...,[],0,NaN,NaN,NaN,800.0,15.0,"Delhi, India",2025-02-11 10:36:23+05:30,2025-02-11
2,iamleanbeast_india,Post,C8OUNStSKC7,Saturday,9,09:58 AM,NaN,1:1,Shredded mode on @manavkansagra1111 under my g...,123,...,['@manavkansagra1111'],1,NaN,NaN,NaN,1140.0,26.0,NaN,2024-06-15 09:58:09+05:30,2024-06-15
3,iamleanbeast_india,Reel,DKGgJptyiJ-,Monday,8,08:57 AM,00:59,9:16,Comment ‚ÄúAtta‚Äù and I will send you the link of...,82,...,[],0,original,NaN,NaN,848.0,2010.0,NaN,2025-05-26 08:57:28+05:30,2025-05-26
4,iamleanbeast_india,Post,DKFZihkSSQj,Sunday,22,10:38 PM,NaN,4:5,Dinner Date ‚ù§Ô∏èüßø‚ù§Ô∏èü•Ç #couple #love #couplegoals...,324,...,[],0,NaN,NaN,NaN,2761.0,12.0,Eros Hotel New Delhi,2025-05-25 22:38:00+05:30,2025-05-25

In [70]:
df.dropna(subset=["likes_count", "comments_count"], inplace=True)

In [71]:
df.drop_duplicates(subset=['content_id'], inplace=True)

In [72]:
leanbeast_followers = 483000

df["engagement_like_comment"] = (df["likes_count"] + df["comments_count"]) 

df["engagement_per_1000_followers"] = (df["engagement_like_comment"] / leanbeast_followers) * 1000

df["engagement_per_1000_followers"] = df["engagement_per_1000_followers"].round(2)

In [73]:
df.to_csv("leanbeast_analysis_ready.csv", index=False)