In [351]:
import pandas as pd

In [352]:
df = pd.read_excel(r"C:\Users\Sujal Karmakar\Desktop\Desktop\Data Analyst\Python\python_data_analytics_project\lean_beast_india_custom_analysis\scraped_data_lean_beast_india.xlsx")

df.sample(5)

,Username,post_type,content_id,posted_time_details,day_of_week,hour_of_day,time_am_pm,video_duration,aspect_ratio,caption_text,...,hashtags_used,hashtag_count,all_mentions,mentions_count,audio_used,location,paid_partnership,likes_count,comments_count,post_context
977,iamleanbeast_india,Reel,C1RwQCOLJPQ,2023-12-25T13:19:26.000Z,Monday,18,06:49 PM,00:46,9:16,Who said Gym Freak cant dance well i practiced...,...,[],0,['@iamsrk'],1,"Pritam, Arijit Singh, Swanand Kirkire‚Ä¢Lutt Put...",NaN,NaN,2077.0,79.0,NaN
245,iamleanbeast_india,Reel,DE91BtkyVqc,2025-01-18T11:58:03.000Z,Saturday,17,05:28 PM,00:37,9:16,Comment ‚ÄúRoti‚Äù to receive high protein roti re...,...,[],0,[],0,"Amit Trivedi, Madhubanti Bagchi, Amitabh Bhatt...",NaN,NaN,2740.0,3076.0,NaN
69,iamleanbeast_india,Reel,DIxpyRAyr5f,2025-04-23T04:34:16.000Z,Wednesday,10,10:04 AM,00:49,9:16,Common ‚Äúfood‚Äù and I will send you 10 Real food...,...,[],0,[],0,original,NaN,NaN,2239.0,2052.0,NaN
572,iamleanbeast_india,Reel,C9uLa0-tGUH,2024-07-22T10:25:36.000Z,Monday,15,03:55 PM,00:13,9:16,Fresh Honey üçØüçØ,...,[],0,[],0,original,NaN,NaN,1731.0,28.0,NaN
373,iamleanbeast_india,Reel,DB8CzLFS421,2024-11-04T05:45:40.000Z,Monday,11,11:15 AM,00:33,9:16,Comment ‚ÄúInsulin‚Äù and i will send you 5 food o...,...,[],0,[],0,original,NaN,NaN,5413.0,7218.0,NaN

In [353]:
df.columns = df.columns.str.strip()

In [354]:
df["posted_time_details"].head(2)

0    2025-05-19T03:10:04.000Z
1    2025-02-11T05:06:23.000Z
Name: posted_time_details, dtype: object

In [355]:
df["formatted_posted_time_details"] = pd.to_datetime(df["posted_time_details"], utc=True, errors="coerce")
df["formatted_posted_time_details"] = df["formatted_posted_time_details"].dt.tz_convert("Asia/Kolkata")

df.drop(columns=["posted_time_details"], inplace=True)

In [356]:
df["posted_date"] = df["formatted_posted_time_details"].dt.date

In [357]:
df.head(5)

,Username,post_type,content_id,day_of_week,hour_of_day,time_am_pm,video_duration,aspect_ratio,caption_text,caption_length,...,all_mentions,mentions_count,audio_used,location,paid_partnership,likes_count,comments_count,post_context,formatted_posted_time_details,posted_date
0,iamleanbeast_india,Post,DJ0c4FlylXc,Monday,8,08:40 AM,NaN,1:1,Well done @jai.bajaj0786 lost 39kgs without co...,112,...,['@jai'],1,NaN,NaN,NaN,443.0,17.0,NaN,2025-05-19 08:40:04+05:30,2025-05-19
1,iamleanbeast_india,Post,DF65FG3yT-Z,Tuesday,10,10:36 AM,NaN,1:1,‚ö†Ô∏è‚ö†Ô∏è‚ÄºÔ∏èTRANSFORMATION ALERT ‚ö†Ô∏è‚ö†Ô∏è‚ÄºÔ∏è If he keen ...,158,...,[],0,NaN,NaN,NaN,800.0,15.0,"Delhi, India",2025-02-11 10:36:23+05:30,2025-02-11
2,iamleanbeast_india,Post,C8OUNStSKC7,Saturday,9,09:58 AM,NaN,1:1,Shredded mode on @manavkansagra1111 under my g...,123,...,['@manavkansagra1111'],1,NaN,NaN,NaN,1140.0,26.0,NaN,2024-06-15 09:58:09+05:30,2024-06-15
3,iamleanbeast_india,Reel,DKGgJptyiJ-,Monday,8,08:57 AM,00:59,9:16,Comment ‚ÄúAtta‚Äù and I will send you the link of...,82,...,[],0,original,NaN,NaN,848.0,2010.0,NaN,2025-05-26 08:57:28+05:30,2025-05-26
4,iamleanbeast_india,Post,DKFZihkSSQj,Sunday,22,10:38 PM,NaN,4:5,Dinner Date ‚ù§Ô∏èüßø‚ù§Ô∏èü•Ç #couple #love #couplegoals...,324,...,[],0,NaN,NaN,NaN,2761.0,12.0,Eros Hotel New Delhi,2025-05-25 22:38:00+05:30,2025-05-25

In [358]:
df.dropna(subset=["likes_count", "comments_count"], inplace=True)

In [359]:
df.drop_duplicates(subset=['content_id'], inplace=True)

In [360]:
leanbeast_followers = 483000

df["engagement_like_comment"] = (df["likes_count"] + df["comments_count"]) 

df["engagement_per_1000_followers"] = (df["engagement_like_comment"] / leanbeast_followers) * 1000

df["engagement_per_1000_followers"] = df["engagement_per_1000_followers"].round(2)

In [361]:
import numpy as np

def parse_duration_to_seconds(duration):
    if pd.isnull(duration):
        return np.nan
    try:
        parts = str(duration).split(":")
        parts = [int(p) for p in parts]
        if len(parts) == 3:      # HH:MM:SS
            return parts[0]*3600 + parts[1]*60 + parts[2]
        elif len(parts) == 2:    # MM:SS
            return parts[0]*60 + parts[1]
        elif len(parts) == 1:    # SS
            return parts[0]
        else:
            return np.nan
    except:
        return np.nan

# Apply conversion
df["video_duration_seconds"] = df["video_duration"].apply(parse_duration_to_seconds)

df[["content_id", "video_duration_seconds"]].head(10)

    content_id  video_duration_seconds
0  DJ0c4FlylXc                     NaN
1  DF65FG3yT-Z                     NaN
2  C8OUNStSKC7                     NaN
3  DKGgJptyiJ-                    59.0
4  DKFZihkSSQj                     NaN
5  DKFEYgvzsIe                     NaN
6  DKEzSUPzGpN                    66.0
7  DKD_qgESuK3                    45.0
8  DKBvTHcS4so                    53.0
9  DJ_DIN2yKRN                    64.0

In [362]:
# # Create time period bucket
def time_period(hour):
    if 5 <= hour <= 11:
        return "Morning"
    elif 12 <= hour <= 16:
        return "Afternoon"
    elif 17 <= hour <= 21:
        return "Evening"
    else:
        return "Night"
df["time_period"] = df["hour_of_day"].apply(time_period)

# # Caption length bucket
def caption_length_bucket(length):
    if length <= 32:
        return "Very Short"
    elif length <= 75:
        return "Short"
    elif length <= 326:
        return "Medium"
    else:
        return "Long"
df["caption_length_bucket"] = df["caption_length"].apply(caption_length_bucket)

# Video duration buckets (optional)   
df["video_duration_bucket"] = df["video_duration_seconds"].apply(
    lambda x: (
        "Short" if x <= 15 else
        "Medium" if x <= 30 else
        "Long" if x <= 60 else
        "Very Long"
    ) if pd.notnull(x) else x
)
# Export final cleaned and enriched data
df.to_csv("leanbeast_analysis_ready.csv", index=False)

In [363]:
df.sample(5)

,Username,post_type,content_id,day_of_week,hour_of_day,time_am_pm,video_duration,aspect_ratio,caption_text,caption_length,...,comments_count,post_context,formatted_posted_time_details,posted_date,engagement_like_comment,engagement_per_1000_followers,video_duration_seconds,time_period,caption_length_bucket,video_duration_bucket
43,iamleanbeast_india,Reel,DJOct1ly2qX,Sunday,14,02:29 PM,00:52,9:16,"Comment, ‚Äúavocado‚Äù and I will send you the rec...",76,...,1280.0,NaN,2025-05-04 14:29:14+05:30,2025-05-04,7480.0,15.49,52.0,Afternoon,Medium,Long
528,iamleanbeast_india,Reel,C-uxDAqSmNh,Friday,17,05:56 PM,00:41,9:16,Best indian veg protein source??,32,...,143.0,NaN,2024-08-16 17:56:00+05:30,2024-08-16,4493.0,9.30,41.0,Evening,Very Short,Long
88,iamleanbeast_india,Reel,DIZLVMzyLtV,Sunday,22,10:00 PM,01:14,9:16,Comment ‚Äútortilla‚Äù and I will send you the lin...,206,...,1783.0,NaN,2025-04-13 22:00:10+05:30,2025-04-13,8789.0,18.20,74.0,Night,Medium,Very Long
715,iamleanbeast_india,Reel,C6u7d-xS4NL,Thursday,9,09:22 AM,01:09,9:16,Surprising my wife with protein waffle ‚Ä¶‚Ä¶ @qnt...,52,...,42.0,NaN,2024-05-09 09:22:15+05:30,2024-05-09,2654.0,5.49,69.0,Morning,Short,Very Long
831,iamleanbeast_india,Reel,C4jxR9fvhSp,Saturday,8,08:17 AM,00:11,9:16,Ye natural hai ‚Ä¶,16,...,77.0,NaN,2024-03-16 08:17:46+05:30,2024-03-16,6469.0,13.39,11.0,Morning,Very Short,Short